* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100vw;
}

button {
  font-family: 'Open Sans', sans-serif;
}

button:hover {
  cursor: pointer;
}

.delete-btn:hover,
.star-btn:hover {
  cursor: pointer;
}

input, textarea {
  font-family: 'Open Sans', sans-serif;
}

/* sidebar navigation */

.side-nav {
  background-color: #1F1F3D;
  display: flex column;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 250px;
  z-index: 1;
}

.nav-header {
  color: #E9E9F3;
  margin-left: 15px;
}

.filter-starred-container {
  border: 1px #353567;
  border-style: solid none;
  color: #BFBFDD;
  font-size: 14px;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 10px;
}

.show-starred-btn {
  background-color: #5354A4;
  border: 1px solid #353567;
  color: #E9E9F3;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px 5px 20px;
  margin-bottom: 30px;
  margin-top: 10px;
}

/* user-input section */

.user-input-section {
  background-color: #A9AAD2;
  display: flex;
  height: 55vh;
  margin: -10px -10px 0px 240px;
  padding: 5px;
  width: 79vw;
}

.top-container {
  display: flex column;
  justify-content: space-evenly;
  margin-right: 250px;
  margin-left: 250px;
}

.form-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  max-width: 400px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

#title-input,
#body-input {
  border: 2px solid #353567;
  height: 40px;
  margin-bottom: 20px;
  width: 350px;
}

#body-input {
  height: 80px;
}

.save-btn {
  background-color: #1F1F3D;
  border: 2px solid #353567;
  color: #E9E9F3;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
  padding: 10px 152px 5px 152px;
}

.save-btn:disabled {
    background-color: #4c4c61;
    border: 2px solid #616178;
    color: gray;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 10px 152px 5px 152px;
}

.save-btn:disabled:hover {
  cursor: not-allowed;
}

.search-container {
  border: 2px solid #353567;
  display: flex;
  width: 350px;
}

.search-ideas {
  border: none;
  color: #353567;
  display: block;
  padding-left: 5px;
  width: 306px;
}

::placeholder {
  color: #353567;
}

.search-image-container {
  background-color: #1F1F3D;
  height: 40px;
  padding: 7.5px 7.5px 7.5px 7.5px;
  width: 40px;
}

/* ideabox section */

.ideabox-section {
  background-color: #EAEAF4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 100vh;
  margin: 0px -10px 0px 240px;
  overflow: scroll;
  padding: 15px 0px 0px 15px;
  width: 79vw;
}

.ideabox-container {
  background-color: white;
  border: 2px solid #353567;
  height: 275px;
  width: 250px;
}

.ideabox-header {
  align-items: center;
  background-color: #1F1F3D;
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.ideabox-header-image {
  height: 25px;
  width: 25px;
}

.ideabox-body {
  height: 212px;
  padding: 0px 15px 0px 15px;
  overflow: scroll;
}

.ideabox-body-text {
  font-size: 20px;
}

.ideabox-footer {
  align-items: center;
  background-color: #5354A4;
  border: 2px #353567;
  border-style: solid none;
  display: flex;
  height: 30px;
  justify-content: flex-start;
}

.ideabox-footer-image {
  height: 25px;
  width: 25px;
}

.ideabox-comment {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.hidden {
  display: none;
}
